.col-size {
    /* width: 500px; */
    /* height: 60px; */
    background: #494949;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

img {
    border: solid;
}

/* area:link, area:hover, area:active, area:focus {
    border: 5px #f00 solid;
}

#test {
    position: absolute;
    top: 0px;
    left: 20%;
} 

#test2 {
    position: absolute;
    top: 10%;
    left: 8.3%;
    width: 42%;
    height: 60%;
    width: 240px;
    height: 310px;
}*/

#view {
    left: 15px;
    position: absolute;
}